* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
}

.container {
    margin: auto;
    width: 468px;
    height: 80vh;
    background-color: #fff;
    overflow-x: hidden;
    border: 1px solid #666;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.header {
    text-align: center;
    padding: 16px 16px 10px 16px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #333;
}

.content {
    margin-top: 24px;
    padding: 0 16px;
}

.add-section {
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.add-section__input {
    padding: 8px 8px;
    width: 80%;
    color: #333;
    font-size: 16px;
    font-weight: 300;
    margin-right: 16px;
}

.add-section__input:focus {
    outline: #666;
}

.add-section__submit {
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 100%;
    color: #fff;
    background: linear-gradient(#e66465, #9198e5);
    cursor: pointer;
}

.add-section__submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.display-task {
    margin-top: 32px;
}

.todo-list {
    list-style-type: none;
    max-height: 54vh;
    overflow: auto;
    overflow-x: hidden;
}

.todo-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #f2f2f2;
    width: 100%;
    height: 45px;
    line-height:45px;
    margin-bottom: 8px;
    border: 1px solid #999;
    padding-left: 8px;
    animation: flyIn linear .4s;
}

@keyframes flyIn {
    from { 
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.todo-item:last-child {
    margin-bottom: 0;
}

.todo-item__text {
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

.todo-item__delete {
    background-color: #e74c3c;
    width: 50px;
    text-align: center;
    color: #fff;
}

.todo-item__delete:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer {
    margin-top: auto;
    padding: 16px;
    text-align: center;
}

.footer span {
    color: #333;
    font-size: 16px;
    font-weight: 300;
}


